

/*BASE

DU 

SITE 
*/




body{
    font-family: McLaren;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}
header{
    font-size: 2.5rem;
}
footer{
    font-size: 2.5rem;
}
li{
    list-style: none;
}


/*Barre 

des

différents 

footers*/


.barre-footer-index{
    background: linear-gradient(267deg, rgb(83, 80, 83), rgb(223, 223, 219), rgb(83, 80, 83));
    width: 100%;
    height: 10.4rem;
    position: relative;
}
.barre-footer-cv{
    background: linear-gradient(267deg, rgb(83, 80, 83), rgb(223, 223, 219), rgb(83, 80, 83));
    width: 100%;
    height: 10.4rem;
    position: relative;
}
.copyright{
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
}


/* Barre 

du 

menu

de 

navigation*/

.barremenu{
    background: linear-gradient(267deg, rgb(156, 154, 151), rgb(83, 80, 83), rgb(223, 223, 219));
    background-size: 400% 400%;
    position: relative;
    width: 100%;
    animation: background-color-menu 10s linear infinite;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@keyframes background-color-menu{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.cf{
    position: relative;
    top: 2.5rem;
    text-align: center;
}
.myimg{
    position: relative;
    top: 2.5rem;
    border-radius: 35%;
    width: 10rem;
    z-index: 1;
}
.accueil, .cv, .github{
    text-decoration: none;
    position: relative;
    top: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
}



/* Contenu 

de 

l'accueil*/



.contenair-index{
    position: relative;
    width: 100%;
    background: url("images/basketball2.jpeg") no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: -2;
}
.contenair-index .opa{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

/*Le bloc présentation*/ 

.titre{
    margin-top: 5.25rem;
    font-size: 2.3rem;
    color: white;
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: black;
    text-align: center;
    z-index: 1;
}
.contenu-presentation{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid black 5px;
    border-radius: 10%;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    top: 2rem;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
    z-index:1;
}
@media (min-width: 700px){
    .contenu-presentation{
        width: 35rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 700px){
    .contenu-presentation{
        width: 15rem;
        font-size: 1.3rem;
    }
}
.campus-academy{
    text-decoration: none;
    color: crimson;
}
.campus-academy:hover{
    text-decoration: underline;
    color: blue;
}
.basket{
    text-decoration: none;
    color: crimson;
}
.basket:hover{
    text-decoration: underline;
    color: blue;
}

/*Le Bloc 
contact*/

.contenu-contact{
    position: relative;
    border: solid black 5px;
    border-radius: 10%;
    width: 15rem;
    top: 2rem;
    background: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
}
.bloc-index{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: space-between;
}
.taille-contenu-contact{
    width: 10rem;
}
.Linked{
    text-decoration: none;
    color: black;
    padding-top: 1rem;
}
.Linked:hover{
    text-decoration: underline;
    color: blue;
}
.img-linked{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    width: 3rem;
    border-radius: 30%;
}
.img-mail{
    margin-left: 1.5rem;
    max-height: 3rem;
    margin-top: 3rem;
    width: 3rem;
    border-radius: 30%;
}
.img-twitter{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    width: 3rem;
    border-radius: 30%;
}
.twitter a{
    text-decoration: none;
    color: black;
}
.twitter a:hover{
    text-decoration: underline;
    color:  blue;
}



/*Contenu 

de

la 

page 

Curriculum 

Vitae*/


.contenair-cv{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    background: url("images/informatique.jpeg") no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: -2;
}
.contenair-cv .opa{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

/*Bloc profil professionel*/


.contenu-profil-professionel{
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: solid black 5px;
    border-radius: 10%;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    top: 2rem;
    width: 45rem;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
}
@media (min-width: 850px){
    .contenu-profil-professionel{
        width: 45rem;
    }
}
@media (max-width: 850px){
    .contenu-profil-professionel{
        width: 15rem;
        font-size: 1.3rem;
    }
}

/*Bloc compétences*/

.contenu-competences{
    position: relative;
    border: solid black 5px;
    padding-right: 1.8rem;
    border-radius: 10%;
    width: 15rem;
    top: 2rem;
    background: rgba(255, 255, 255, 1);
    font-size: 1.7rem;
    z-index: 1;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
}

/*Bloc centre interets*/

#contenu-centre-interets{
    padding-right: 2rem;
    position: relative;
    border: solid black 5px;
    border-radius: 10%;
    width: 40rem;
    top: 2rem;
    background: rgba(255, 255, 255, 1);
    font-size: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
}
@media (min-width: 850px){
    #contenu-centre-interets{
        width: 40rem;
    }
}
@media (max-width: 850px){
    #contenu-centre-interets{
        width: 15rem;
        font-size: 1.3rem;
    }
}

/*Bloc formation*/

.formation{
    position: relative;
    border: solid black 5px;
    border-radius: 10%;
    width: 50rem;
    top: 2rem;
    background: linear-gradient(267deg, rgb(83, 80, 83), rgb(223, 223, 219), rgb(83, 80, 83));
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
}
@media (min-width: 850px){
    .formation{
        width: 50rem;
    }
}
@media (max-width: 850px){
    .formation{
        width: 15rem;
        font-size: 1.3rem;
    }
}
.college{
    border: solid black 2px;
    padding: 20px 1% 20px 1%;
    border-radius: 20%;
    position: relative;
    margin: 10px 1% 10px 1%;
    background-color: rgba(255, 255, 255, 0.7);
}
.lycee{
    border: solid black 2px;
    padding: 20px 1% 20px 1%;
    border-radius: 20%;
    position: relative;
    margin: 10px 1% 10px 1%;
    background-color: rgba(255, 255, 255, 0.7);
}
.etude{
    border: solid black 2px;
    padding: 20px 1% 20px 1%;
    border-radius: 20%;
    position: relative;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
}
/*Le bouton pdf*/

.pdf{
    position: fixed;
    left: 0;
    background: crimson;   
    top: 50%;
    z-index: 10;
    border: white solid 1px;
    border-radius: 10%;
    font-size: 1.5rem;
    color: white;
}
.pdf:hover{
    text-align: center;
    width: 5%;
}

/* La

page

du

blog 

*/

.contenair-blog{
    position: relative;
    width: 100%;
    height: 800px;
    background: url("images/basketball3.jpg") no-repeat center fixed;
    background-size: cover;
    animation: change-background 80s linear infinite;
}
@keyframes change-background{
    20%{
        background: url("images/basketball3.jpg") no-repeat center fixed;
        background-size: cover;
    }
    25%{
        background: url("images/basketball5.jpg") no-repeat center fixed;
        background-size: cover;
    }
    40%{
        background: url("images/basketball5.jpg") no-repeat center fixed;
        background-size: cover;
    }
    45%{
        background: url("images/basketball3.jpg") no-repeat center fixed;
        background-size: cover;
    }
    60%{
        background: url("images/basketball3.jpg") no-repeat center fixed;
        background-size: cover;
    }
    65%{
        background: url("images/basketball5.jpg") no-repeat center fixed;
        background-size: cover;
    }
    80%{
        background: url("images/basketball5.jpg") no-repeat center fixed;
        background-size: cover;
    }
    85%{
        background: url("images/basketball3.jpg") no-repeat center fixed;
        background-size: cover;
    }
}

.contenair-blog .opa{
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: black;
    opacity: 0.7;
}


/*Le 

plus*/

.second-color
{
    color: white;
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: black;
}
.lien-menu{
    text-decoration: none;
}
.lien-menu:hover{
    color: black;
    text-shadow: 10px 0px 10px black;
}
.etoile1{
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 7px;
    background: linear-gradient(rgb(255, 255, 255), rgb(139, 139, 139));
    border-radius: 50%;
    animation-name: etoile1-bouge;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes etoile1-bouge{
    0%{
        left: 0px;
    }
    50%{
        left: 30%;
        opacity: 0.3;
    }
    100%{
        left: 100%;
        top: 10px;
        opacity: 0;
    }
}

.etoile2{
    position: absolute;
    top: 50px;
    right: 0%;
    bottom: 0;
    left: 100%;
    width: 7px;
    height: 7px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    animation-name: etoile2-bouge;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes etoile2-bouge{
    0%{
        left: 100%;
    }
    50%{
        left: 30%;
        opacity: 0.3;
    }
    100%{
        left: 0%;
        top: 50px;
        opacity: 0;
    }
}


#ball {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    left: 190px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ffa600,
      #ff6600
    );
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce{
    0% {
      top: 500px;
    }
    50% {
      top: 750px;
      width: 130px;
      height: 70px;
    }
    100% {
      top: 500px;
    }
  }


      



  /*Pour mobile*/
  
  