

body{
    font-family: McLaren;
    text-decoration: none;
}
header{
    font-size: 40px;
}
/* Barre du menu*/
.barremenu{
    background: linear-gradient(267deg, rgb(234, 0, 255), #3C93E8);
    background-size: 400% 400%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 175px;
    animation: background-color-menu 10s linear infinite;
}
@keyframes background-color-menu{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.cf{
    position: absolute;
    top: 23px;
    left: 46px;
}
.myimg{
    position: absolute;
    top: 10px;
    left: 525px;
    border-radius: 35%;
    width: 175px;
    box-shadow: grey 1px 3px 1px;
}
.accueil{
    text-decoration: none;
    position: absolute;
    top: 63px;
    left: 900px;
}
.cv{
    text-decoration: none;
    position: absolute;
    top: 63px;
    left: 1150;
}
.blog{
    text-decoration: none;
    position: absolute;
    top: 63px;
    left: 1630px;
}
/* Contenu du site*/
.presentation{
    position: absolute;
    top: 270;
    left: 480; 
    font-size: 40px;
}

.bloc-presentation{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-radius: 10%;
    width: 800px;
    height: 400px;
    top: 450px;
    left: 220px;
}
.contenu-presentation{
    position: absolute;
    width: 750px;
    height: 350px;
    top: 465px;
    left: 260px;
    font-size: 20px;
}
.campus-academy{
    text-decoration: none;
    color: crimson;
}
.campus-academy:hover{
    text-decoration: underline;
    color: blue;
}
.basket{
    text-decoration: none;
    color: crimson;
}
.basket:hover{
    text-decoration: underline;
    color: blue;
}
.contact{
    position: absolute;
    top: 270;
    left: 1400px;
    font-size: 40px;
}
.bloc-contact{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-radius: 10%;
    width: 400px;
    height: 400px;
    top: 450px;
    left: 1280px;
}
.contenu-contact{
    position: absolute;
    width: 200px;
    height: 350px;
    top: 495px;
    left: 1425px;
    font-size: 30px;
}
.Linked{
    text-decoration: none;
    color: #3C93E8;
}
.Linked:hover{
    text-decoration: underline;
    color: blue;
}
.img-linked{
    position: absolute;
    top: 475px;
    left: 1315px;
    width: 100px;
    border-radius: 10%;
}
.img-mail{
    position: absolute;
    top: 595px;
    left: 1310px;
    width: 100px;
    border-radius: 30%;
}
.mail{
    font-size: 25px;
    padding-top: 25px;
    color: #3C93E8;
}
.img-twitter{
    position: absolute;
    top: 725px;
    left: 1310px;
    width: 100px;
    border-radius: 30%;
}
.twitter{
    padding-top: 25px;
}
.twitter a{
    text-decoration: none;
    color: #3C93E8;
}
.twitter a:hover{
    text-decoration: underline;
    color:  blue;
}
/*Curriculum Vitae*/
.profil-professionel{
    position: absolute;
    top: 270;
    left: 300; 
    font-size: 40px;
}
.bloc-profil-professionel{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-radius: 10%;
    width: 800px;
    height: 100px;
    top: 350px;
    left: 100px;
}

.contenu-profil-professionel{
    position: absolute;
    width: 750px;
    height: 350px;
    top: 370px;
    left: 120px;
    font-size: 20px;
}
.competences{
    position: absolute;
    top: 470;
    left: 300; 
    font-size: 40px;
}
.bloc-competences{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-radius: 10%;
    width: 800px;
    height: 200px;
    top: 550px;
    left: 100px;
}
#contenu-competences-1{
    position: absolute;
    width: 750px;
    height: 350px;
    top: 575px;
    left: 200px;
    font-size: 20px;
}
#contenu-competences-2{
    position: absolute;
    width: 750px;
    height: 350px;
    top: 575px;
    left: 500px;
    font-size: 20px;
}


/*Le plus*/
.second-color
{
    color: #85FFD8;
}
.lien-menu:hover{
    color: white;
    font-size: 50px;
    text-shadow: 10px 0px 10px black;
}
.etoile1{
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 7px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    animation-name: etoile1-bouge;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes etoile1-bouge{
    0%{
        left: 0px;
    }
    50%{
        left: 30%;
        opacity: 0.3;
    }
    100%{
        left: 100%;
        top: 10px;
        opacity: 0;
    }
}

.etoile2{
    position: absolute;
    top: 50px;
    right: 0%;
    bottom: 0;
    left: 100%;
    width: 7px;
    height: 7px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    animation-name: etoile2-bouge;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes etoile2-bouge{
    0%{
        left: 100%;
    }
    50%{
        left: 30%;
        opacity: 0.3;
    }
    100%{
        left: 0%;
        top: 50px;
        opacity: 0;
    }
}


#ball {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    left: 190px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ffa600,
      #ff6600
    );
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce{
    0% {
      top: 500px;
    }
    50% {
      top: 750px;
      width: 130px;
      height: 70px;
    }
    100% {
      top: 500px;
    }
  }